openapi: 3.1.0
info:
  title: Bicycle Distribution API
  description: API for distributing bicycles to racks and hotels, including pickup and return operations by mechanics
  version: 1.0.0
  contact:
    name: Annegret
    email: annegret.junker@gmx.de
  x-api-id: 7b2c8a1d-5e4f-4a18-bb32-917d9fac5183
  x-audience: external-public

servers:
  - url: 'https://rent-a-bike.com/v1'

security:
  - openIdConnect:
      - bicycles:read
      - bicycles:write

tags:
  - name: Bicycles
    description: Bicycle management and distribution operations
  - name: Status
    description: Bicycle status tracking operations

paths:
  /bicycles:
    get:
      description: Returns a list of bicycles fulfilling the search parameters
      operationId: getBicyclesByFilter
      tags:
        - Bicycles
      security:
        - openIdConnect:
            - bicycles:read
      parameters:
        - $ref: '#/components/parameters/HotelParameter'
        - $ref: '#/components/parameters/RackParameter'
        - $ref: '#/components/parameters/GarageParameter'
        - $ref: '#/components/parameters/StatusFilterParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/BicycleListResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/BadGatewayResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

    post:
      description: Creates a new bicycle in the distribution system
      operationId: createBicycle
      tags:
        - Bicycles
      security:
        - openIdConnect:
            - bicycles:write
      parameters:
        - $ref: '#/components/parameters/VersionParameter'
      requestBody:
        $ref: '#/components/requestBodies/BicycleCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/BicycleCreatedResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/BadGatewayResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

  /bicycles/{bicycleId}:
    get:
      description: Returns a bicycle identified by its ID
      operationId: getBicycleById
      security:
        - openIdConnect:
            - bicycles:read
      tags:
        - Bicycles
      parameters:
        - $ref: '#/components/parameters/BicycleIdParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/BicycleResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '412':
          $ref: '#/components/responses/PreconditionFailedResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

    put:
      description: Updates a bicycle with the given bicycle data in the body
      operationId: updateBicycle
      security:
        - openIdConnect:
            - bicycles:write
      tags:
        - Bicycles
      parameters:
        - $ref: '#/components/parameters/BicycleIdParameter'
        - $ref: '#/components/parameters/RackParameter'
        - $ref: '#/components/parameters/HotelParameter'
        - $ref: '#/components/parameters/VersionParameter'
      requestBody:
        $ref: '#/components/requestBodies/BicycleUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/BicycleResponse'
        '204':
          $ref: '#/components/responses/NoContentResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '412':
          $ref: '#/components/responses/PreconditionFailedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/BadGatewayResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

  /bicycles/{bicycleId}/status:
    get:
      description: Returns the current status of a bicycle
      operationId: getBicycleStatus
      security:
        - openIdConnect:
            - bicycles:read
      tags:
        - Status
      parameters:
        - $ref: '#/components/parameters/BicycleIdParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/BicycleStatusResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '414':
          $ref: '#/components/responses/URITooLongResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

    put:
      description: Updates the status of a bicycle
      operationId: updateBicycleStatus
      security:
        - openIdConnect:
            - bicycles:write
      tags:
        - Status
      parameters:
        - $ref: '#/components/parameters/BicycleIdParameter'
        - $ref: '#/components/parameters/VersionParameter'
      requestBody:
        $ref: '#/components/requestBodies/BicycleStatusUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/BicycleStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/BadGatewayResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

components:
  parameters:
    BicycleIdParameter:
      description: Path parameter to identify a bicycle uniquely
      name: bicycleId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        examples:
          - a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d

    HotelParameter:
      description: Parameter to filter bicycles by hotel location
      name: hotel
      in: query
      schema:
        type: string
        examples:
          - Grand Hotel Munich
          - City Hotel Berlin

    RackParameter:
      description: Parameter to filter bicycles by rack location or assign to a rack
      name: rack
      in: query
      schema:
        type: string
        examples:
          - Rack-001
          - Rack-Downtown-A

    GarageParameter:
      description: Parameter to filter bicycles by garage location
      name: garage
      in: query
      schema:
        type: string
        examples:
          - Garage-Central
          - Garage-North

    StatusFilterParameter:
      description: Parameter to filter bicycles by their current status
      name: status
      in: query
      schema:
        $ref: '#/components/schemas/BicycleStatus'

    VersionParameter:
      description: Version of the expected API specification version by the client
      name: x-api-version
      in: header
      required: true
      schema:
        type: string
        default: "1.0.0"
        x-extensible-enum: ["1.0.0"]

  requestBodies:
    BicycleCreateRequest:
      description: Bicycle creation request
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BicycleToBeCreated'

    BicycleUpdateRequest:
      description: Bicycle update request
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Bicycle'

    BicycleStatusUpdateRequest:
      description: Bicycle status update request
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BicycleStatusUpdate'

  responses:
    BicycleResponse:
      description: Single bicycle response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Bicycle'

    BicycleListResponse:
      description: List of bicycles
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BicycleList'

    BicycleStatusResponse:
      description: Bicycle status response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BicycleStatusInfo'

    BicycleCreatedResponse:
      description: Bicycle created successfully
      headers:
        Location:
          description: URI of the newly created bicycle
          schema:
            type: string
            format: uri
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BicycleLink'

    NoContentResponse:
      description: Operation successful with no content to return

    BadRequestResponse:
      description: Invalid request parameters or body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    UnauthorizedResponse:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFoundResponse:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    PreconditionFailedResponse:
      description: Precondition for the operation was not met
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    URITooLongResponse:
      description: The URI provided was too long to process
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    InternalServerErrorResponse:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    BadGatewayResponse:
      description: Bad gateway or upstream service error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    DefaultResponse:
      description: General error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Bicycle:
      description: A bicycle in the distribution system
      type: object
      required:
        - id
        - status
        - model
        - serialNumber
      allOf:
        - $ref: '#/components/schemas/BicycleToBeCreated'
        - properties:
            id:
              description: Unique identifier of the bicycle
              type: string
              format: uuid
              examples:
                - a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d
            status:
              $ref: '#/components/schemas/BicycleStatus'
            gpsData:
              $ref: '#/components/schemas/GPSData'
            currentLocation:
              description: Current location of the bicycle
              type: string
              examples:
                - Grand Hotel Munich
                - Rack-Downtown-A
                - Garage-Central
            assignedMechanic:
              description: Identifier of the mechanic currently assigned to the bicycle
              type: string
              format: uuid
              examples:
                - 9f8e7d6c-5b4a-3c2d-1e0f-9a8b7c6d5e4f
            createdAt:
              description: Date and time when the bicycle was registered
              type: string
              format: date-time
              examples:
                - 2025-10-06T13:24:00Z
            updatedAt:
              description: Date and time when bicycle was last updated
              type: string
              format: date-time
              examples:
                - 2025-10-06T15:30:00Z

    BicycleStatus:
      description: Current status of a bicycle in the distribution system
      type: string
      x-extensible-enum:
        - IN_GARAGE
        - IN_HOTEL
        - IN_RACK
        - IN_RIDING
      default: IN_GARAGE
      examples:
        - IN_RACK

    BicycleToBeCreated:
      description: Bicycle data for creation in the distribution system
      type: object
      required:
        - model
        - serialNumber
      properties:
        model:
          description: Model name or type of the bicycle
          type: string
          minLength: 1
          maxLength: 100
          examples:
            - City Bike Pro 2025
            - Mountain Explorer X1
        serialNumber:
          description: Unique serial number of the bicycle
          type: string
          minLength: 1
          maxLength: 50
          pattern: '^[A-Z0-9-]+$'
          examples:
            - BIKE-2025-001234
            - MTB-X1-987654
        description:
          description: Additional description of the bicycle
          type: string
          maxLength: 500
          examples:
            - Blue city bike with basket and lights
        initialLocation:
          description: Initial location where the bicycle is registered
          type: string
          maxLength: 200
          examples:
            - Garage-Central
            - Main Warehouse

    GPSData:
      description: GPS location data for a bicycle
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          description: Latitude coordinate
          type: number
          format: double
          minimum: -90
          maximum: 90
          examples:
            - 48.1351
        longitude:
          description: Longitude coordinate
          type: number
          format: double
          minimum: -180
          maximum: 180
          examples:
            - 11.5820
        altitude:
          description: Altitude in meters above sea level
          type: number
          format: double
          examples:
            - 520.5
        accuracy:
          description: GPS accuracy in meters
          type: number
          format: double
          minimum: 0
          examples:
            - 5.2
        timestamp:
          description: Timestamp of the GPS reading
          type: string
          format: date-time
          examples:
            - 2025-10-06T15:30:00Z

    BicycleStatusUpdate:
      description: Update request for bicycle status
      type: object
      required:
        - status
      properties:
        status:
          $ref: '#/components/schemas/BicycleStatus'
        location:
          description: Location associated with the status change
          type: string
          maxLength: 200
          examples:
            - Grand Hotel Munich
            - Rack-Downtown-A
        notes:
          description: Additional notes about the status change
          type: string
          maxLength: 500
          examples:
            - Bicycle picked up by mechanic for maintenance

    BicycleStatusInfo:
      description: Detailed status information for a bicycle
      type: object
      required:
        - bicycleId
        - status
        - timestamp
      properties:
        bicycleId:
          description: Identifier of the bicycle
          type: string
          format: uuid
          examples:
            - a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d
        status:
          $ref: '#/components/schemas/BicycleStatus'
        location:
          description: Current location of the bicycle
          type: string
          examples:
            - Grand Hotel Munich
        timestamp:
          description: Timestamp of the status
          type: string
          format: date-time
          examples:
            - 2025-10-06T15:30:00Z

    BicycleList:
      description: List of bicycles as response object
      type: object
      required:
        - bicycles
      properties:
        bicycles:
          description: Array of bicycles
          type: array
          minItems: 0
          maxItems: 1000
          items:
            $ref: '#/components/schemas/Bicycle'
        totalCount:
          description: Total number of bicycles matching the filter
          type: integer
          minimum: 0
          examples:
            - 42

    BicycleLink:
      description: Link to a bicycle resource
      type: object
      required:
        - bicycleLink
      properties:
        bicycleLink:
          description: URI link to the bicycle in the distribution system
          type: string
          format: uri
          examples:
            - https://rent-a-bike.com/v1/bicycles/a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d
        bicycleId:
          description: Identifier of the created bicycle
          type: string
          format: uuid
          examples:
            - a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d

    Error:
      description: Standard error object
      type: object
      required:
        - code
        - message
      properties:
        code:
          description: Short error code for easy identification
          type: string
          minLength: 2
          maxLength: 20
          examples:
            - BIKE-001
            - BIKE-404
        message:
          description: Human-readable error message
          type: string
          minLength: 2
          maxLength: 256
          examples:
            - Bicycle with ID a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d cannot be found
        detail:
          description: URI link to the resource related to the error
          type: string
          format: uri
          examples:
            - https://rent-a-bike.com/v1/bicycles/a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d
        severity:
          description: Severity level of the error
          type: string
          x-extensible-enum:
            - FATAL
            - ERROR
            - WARNING
            - INFO
          default: ERROR
          examples:
            - ERROR
        timestamp:
          description: Timestamp when the error occurred
          type: string
          format: date-time
          examples:
            - 2025-10-06T15:30:00Z

  securitySchemes:
    openIdConnect:
      description: Access to bicycle distribution system via OpenID Connect
      type: openIdConnect
      openIdConnectUrl: https://auth.rent-a-bike.com/.well-known/openid-configuration